hello world
{{!-- todo, replace with navigation? --}}
<LinkTo @route="collection-new">New Collection</LinkTo>
{{#each @model as |collection|}}
<div>
  {{collection.title}}
  {{log collection}}
</div>
{{/each}}
